<h1>To Do List</h1>
<ul>
    @foreach (var item in Model)
    {
        <h4>@item.GetDescription() | <a href="/items/@item.GetId()/update">Edit</a></h4>
    }
</ul>
<a href='/items/new'>Add new item</a>